.testimonies {
  display: flex;
  width: 100%;
  max-width: 1600px;
  justify-content: center;
  margin: 4rem 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28vw;
  margin: 0 2rem;
  padding: 6rem 2rem;
  border-radius: 1.2rem;
  background-color: aliceblue;
  transition: all 0.2s;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.2);
}

.avatar {
  height: 10rem;
  width: 10rem;
  border-radius: 100%;
  margin-bottom: 3rem;
}

.quote {
  text-indent: 2rem;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1px;
  font-style: italic;
  text-transform: capitalize;
  color: var(--black);
}
.quotes {
  position: absolute;
  left: 60;
  top: 80;
  font-family: fantasy;
  font-size: 16rem;
  color: var(--pink-500);
  opacity: 0.65;
}

@media (max-width: 900px) {
  .testimonies {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 85%;
    margin: 2rem 0;
  }
}
