.title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  transform: skewX(-15deg);
  margin: 5rem 0;
  color: var(--blue-500);
  text-align: center;
}

.link {
  color: var(--pink-500);
}

.text-line {
  margin: 2.5rem 0;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.text-lg {
  font-size: 2.5rem;
}

.strong {
  color: var(--pink-500);
}

@media (max-width: 600px) {
  .title {
    font-size: 3rem;
  }
}
